table.register-file {
    border-collapse: collapse;
    margin: 2rem;
}

.register-file tr:first-child th {
    background-color: #00b0f0;
    color: white;
    
}

.register-file td,.register-file th {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}