<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tomasulo Algorithm Simulation Output</title>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
      <div class="container">
        <h1 class="text-center">Tomasulo Algorithm Simulation Output</h1>
        <p><strong>Program name: </strong>{{ programName }}</p>
        <p><strong>Program Listing</strong>
        <pre class="bg-gray-200 text-dark p-3">{{{ programListing }}}</pre>
            {{#cycleHtmls }}
              {{{.}}}
            {{/cycleHtmls }}
        </div>
      </p>
    </body>
</html>
