<table class="table table-striped">
    <thead>
        <tr>
            <th class="bg-info text-center p-1">F</th>
            <th class="bg-info text-center p-1">Qi</th>
            <th class="bg-info text-center p-1">Value</th>
        </tr>
    </thead>
    <tbody>
        {{#registerFile}}
        <tr>
            <td class="p-1">F{{index}}</td>
            <td class="p-1">{{qi}}</td>
            <td class="p-1">{{valueDisplay}}</td>
        </tr>
        {{/registerFile}}
    </tbody>
</table>
