<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="6" class="text-center bg-info">Store Station</th>
        </tr>
        <tr>
            <th>Time</th>
            <th>Tag</th>
            <th>Busy</th>
            <th>Address</th>
            <th>V</th>
            <th>Q</th>
        </tr>
    </thead>
    <tbody>
        {{#storeStations}}
        <tr>
            <td>{{numberOfCyclesLeft}}</td>
            <td>{{tag}}</td>
            <td>{{busy}}</td>
            <td>{{address}}</td>
            <th>{{v}}</th>
            <th>{{q}}</th>
        </tr>
        {{/storeStations}}
    </tbody>
</table>
